@mixin btn($color:#fff){
    text-decoration: none;
    cursor: pointer;
    display: inline-block;
    border: 0;
    padding: $padding;
    border-radius: $border ;
    background-color: $color;
}
.btn{
    @include btn
}
@each $key , $value in $colors {
    .btn-#{$key}{
        @include btn($value);
        &:hover{
            background-color: lighten($value ,4);
        }
    }
    .btn-outline-#{$key}{
        @include btn;
        border: 1px solid $value;
        &:hover{
            background-color: $value;
        }
    }
    
}