.card{
    display: block;
    padding: $padding;
    max-width: 20rem;
    border: 1px solid rgb(213, 206, 206);
    box-shadow: 1rem;
    border-radius: .3rem;
    .card-title{
        font-size:1rem ;
        padding-bottom: 1rem;
        font-weight: 700;
    }
    .card-body{
        font-size: 1rem;
        padding: 5px;

        a {
          text-decoration: underline;
        }
    }
    .card-footer{
        margin: 5px 0;
        color: rgb(170, 170, 170);
        font-size: 0.75rem;
    }
}