@each $key ,$value in $colors {
    .text-#{$key}{
        color: $value;
    }
    .hover-text-#{$key}{
        &:hover{
            color: $value;
        }
    }
    .bg-#{$key}{
        background-color: $value;
    }
}
