@each $key ,$value in $colors {
    .text-#{$key}{
        color: $value;
    }
    .hover-text-#{$key}{
        &:hover{
            color: $value;
            cursor: pointer;
        transition: all 0.2s;

        }
    }
    .bg-#{$key}{
        background-color: $value;
    }
}
