//-------------------colors-------------------//
$colors:(
    "primary": rgb(133, 46, 209),
    "secondary": rgb(108, 108, 108),
    "info": rgb(0, 200, 255),
    "blue": #252be2,
    "red": #d81c1c,
    "yellow": #e0e014,
    "green": #14dc2e,
    "orange": #ffb429,
    "black": black,
    "white": white,
    "light": rgb(193, 191, 191),
);

//------------------var
$padding : 1rem;
$margin : 1rem;
$border : 1rem;
$fontSize : 1rem;

