//-------------------colors-------------------//
$colors:(
    "primary": rgb(144, 38, 236),
    "secondary": rgb(92, 92, 92),
    "info": rgb(0, 225, 255),
    "blue": #363bde,
    "red": #f93b3b,
    "yellow": #ffff0a,
    "green": #0bff2c,
    "orange": #ffb52c,
    "black": black,
    "white": white,
    "light": rgb(218, 218, 218),
);
$fontSizes :(
    "1":1.2rem,
    "2":1.5rem,
    "3":2rem,
    "4":2.5rem,
    "5":3rem,
);

//------------------var
$padding : 1rem;
$margin : 1rem;
$border : 1rem;
$fontSize : 1rem;

